* {
    font-size: small;
}
.container {
    width: 100%;
}
header .row {
    margin: 0;
    height: 72px;

}
.mobile-deleted {
    display: none;
}
header .header-logo {
    margin: 0 40% 0 55px;
    font-size: 1.8em;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #5C5C5C;
}
header .header-logo::before {
    background: url(../img/mobile-header-icon-menu.svg) no-repeat center;
    bottom: 3px;
    left: -39px;
}
.header-btn {
    font-size: 1.4em;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    max-width: 128px;
    min-width: 90px;
    height: 40px;
    border-radius: 8px;
}
.muslim {
    font-size: 50px;
}
